# KAFKA SETTINGS
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_CLIENT_ID=FastAPITemplate
KAFKA_ENABLE_IDEMPOTENCE=True
KAFKA_ACKS=all
KAFKA_RETRIES=2147483647
KAFKA_MAX_IN_FLIGHT_REQUESTS_PER_CONNECTION=5
KAFKA_REQUEST_TIMEOUT_MS=30000
KAFKA_LINGER_MS=50
KAFKA_RETRY_BACKOFF=100
KAFKA_MAX_AGE_METADATA_MS=5000
