# FastAPI
APP_HOST=0.0.0.0
APP_PORT=8000
RELOAD=False
WORKERS=1
DOCS_URL=/docs
REDOC_URL=/redoc

# PGAdmin
PG_ADMIN_EMAIL=auth_service@admin.com
PG_ADMIN_PASSWORD=admin

# PostgreSQL
POSTGRES_HOST=auth-postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=auth_service_db

# Authorization
JWT_ALGORITHM=RS256
JWT_EXPIRE_DAYS=7
JWT_EXPIRE_MINUTES=30
JWT_ACCESS_PRIVATE_KEY_PATH=certs/jwt/access_keys/private.pem
JWT_ACCESS_PUBLIC_KEY_PATH=certs/jwt/access_keys/public.pem
JWT_REFRESH_PRIVATE_KEY_PATH=certs/jwt/refresh_keys/private.pem
JWT_REFRESH_PUBLIC_KEY_PATH=certs/jwt/refresh_keys/public.pem
