# FastAPI
APP_HOST=0.0.0.0
APP_PORT=8000
RELOAD=False
WORKERS=1
DOCS_URL=/docs
REDOC_URL=/redoc

# PGAdmin
PG_ADMIN_EMAIL=user_service@admin.com
PG_ADMIN_PASSWORD=admin

# PostgreSQL
POSTGRES_HOST=user-postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=user_service_db